.redSocial{
    border: 5px solid rgb(212, 198, 212);
    background-color: rgb(204, 193, 204);
}

.main{
    @extend .redSocial;
    font-size: 20px;
    text-align: center;
}

@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

.objetivo{
    @include sizes(500px, 40px);
    background-color: rgb(190, 175, 186);
}