
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 100%;
}

.col{
    padding: 5px;
    color: $color;
}

.titulos{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight:normal;
    font-size: 15px;
    text-align:center;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    color: rgb(38, 48, 58);
    color: black;
    padding: 5px;
    justify-content:center;
}

.inicio{
    margin-top: 40px;
    margin: 100px;
    margin-bottom: 5px;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.redesredes{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
