.contenido{
    margin: 20px;
    h1{
        font-family:'Poppins', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 5px;
        text-align:center;
        text-transform: uppercase;
        color: rgb(18, 25, 31);
        text-align: center;
        margin: 20px;
    }
    p{
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        line-height: 40px;
        letter-spacing: 2px;
        word-spacing: 2px;
        text-transform: uppercase;
        color: rgb(38, 48, 58);
        background-color: $color;
        color: black;
        padding: 40px;
        margin-top: 20px;
        margin-left: 50px;
    }

}



.grilla-general{
    color: rgb(18, 92, 67);
}
.galeria-grid-img{
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0;
}
.servi{
    margin-top: 20px;
    width: 400px;
    height: 400px;
}
